<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="<%= root_url %>">STAP</a></h1>
        <li class="divider"></li>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">

        <% if user_signed_in? %>
          <!-- Logged-in users -->
          <li><a href="#">Hi <%= current_user.email %></a></li>
          <li class="divider"></li>
          <li><%= link_to 'Account', edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <!-- Non-logged-in users -->
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>

        <li class="divider"></li>
        <li><a href="https://github.com/stql/stap/wiki/Help-Page-(for-web-interface)" target="_blank">Help</a></li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <% if user_signed_in? %>
          <li class="divider"></li>
          <li><%= link_to 'Manage Tracks', tracks_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'My Queries', queries_path %></li>
          <li><%= link_to 'Others\' Queries', shared_queries_path %></li>
        <% else %>
          <li><%= link_to 'Others\' Queries', shared_queries_path %></li>
        <% end %>
      </ul>
    </section>
</nav>
</div>
