<div class="row clearfix">
  <div class="left">
    <h3>List of Submitted Queries</h3>
  </div>
  <div class="right">
    <%= link_to 'New Submission', new_query_path, :class => 'button' %>
  </div> 
</div>


<% if @queries.size > 0 %>
  <div class="row">
    <table id="query_result" class="grid">
      <thead>
        <tr>
          <th>Time</th>
          <th>Name</th>
          <th>Query</th>
          <th>Shared</th>
          <th>Token</th>
          <th>Detail</th>
        </tr>
      </thead>

      <tbody>
        <% @queries.each do |query| %>
          <tr>
            <td><%= local_time(query.created_at, '%Y-%m-%d %H:%M') %></td>
            <td><%= query.name %></td>
            <td><%= query.user_query %></td>
            <td><%= link_to query.shared.to_s.titleize, toggle_share_query_path(query), method: :put %></td>
            <td>
              <% if query.shared %>
                <%= link_to query.token, q_token_url(query.token), target: '_blank' %>
              <% else %>
                <%= query.token %>
              <% end %>
            </td>
            <td><%= link_to 'Status', query %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>