<div class="row fullWidth">
  <!-- left nav bar, include dataset and sample queries -->
  <div class="large-2 columns">
    Datasets
    <ul class="side-nav" id="side-bar">
      <%= render 'tracks/user_track' %>
      <%= render 'datasets/menu' %>
    </ul>
  </div>

  <!-- main content, include description, query box and dataset list -->
  <div class="large-10 columns">
    <div class="row">
      <!-- header -->
      <div class="small-12 columns">
        <div class="row">
          <div class="small-3 large-centered columns">
            <h1>STAP</h1>
          </div>
        </div>
        <!-- description -->
        <div class="row">
          <p class="small-12 columns">
            Signal Track Analytical Processing system (STAP) is ...
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- query box -->
      <div id="sticky" class="large-12 columns">
        <%= form_for @query, url: {action: "create"}, remote: true, html: {"data-type" => :json} do |f| %>
          <%= f.text_area :user_query %>

          <div class="clearfix">
            <div class="left">
              <p style="display: inline-block">
                <%= f.label :name, 'Query name' %>
              </p>
              <div style="display: inline-block">
                <%= f.text_field :name %>
              </div>
            </div>

            <% if user_signed_in? %>
              <%= f.submit "Submit", :class => 'button [tiny small large] right' %>
            <% else %>
              <%= f.submit "Submit", :class => 'button [tiny small large] right', :data => {confirm: "Please save the URL after submission because you're currently in non-logged-in user."} %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <!-- dataset list -->
      <div id="items_grid"></div>
    </div>
  </div>
</div>
