<div class="row clearfix">
  <div class="left">
    <h3>Submitted Query Record</h3>
  </div>
</div>

<div class="row">
  <table role="grid">
    <tr>
      <th>Submission time</th>
      <td><%= local_time(@query.created_at, '%Y-%m-%d %H:%M') %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @query.name %></td>
    </tr>
    <tr>
      <th>Query</th>
      <td><%= @query.user_query %></td>
    </tr>
    <tr>
      <th>Run status</th>
      <td>
        <%= get_run_status(@response["status"]["runState"]) %>
        <% if @response["completed"] == "done" -%>
          (exit value: <%= @response['exitValue'] %>)
        <% end -%>
      </td>
    </tr>
    <% if @response["completed"] == "done" -%>
    <tr class="done">
      <th>Result</th>
      <td>
        <%= link_to 'Preview', result_query_path(@query) %>
        / Download 
        (<%= link_to 'Plain text', result_query_path(@query, :format => :txt) %>, 
        <%= link_to 'BED foramt', result_query_path(@query, :format => :bed) %>)
      </td>
    </tr>
    <% end -%>
  </table>
  
  <% if @response["completed"] != "done" -%>
    <div class="row">
      <p class="small-12 small-centered large-8 columns">
        <i>This page refreshes in every 2 seconds.</i>
      </p>
    </div>
  <% end -%>


  <%= link_to 'Back to submissions', queries_path %>
</div>